body {
  background: rgb(243, 244, 246);
  max-width: 1440px;
}
H1 {
  position: relative;
  left: 35%;
  word-spacing: 0.5rem;
  letter-spacing: 0.3rem;
  margin-top: 1rem;
}
p {
  font-family: monospace;
  font-weight: 400;
}

input[type="text"] {
  height: 23px;
  font-size: 12px;
  text-align: left;
}
button {
  font-size: 16px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
}
button:hover {
  opacity: 0.9;
  cursor: pointer;
}

#orange-button {
  background: orange;
  border: none;
  height: 30px;
  font-size: 14px;
  border-radius: 0.5rem;
}
#blue-button {
  height: 30px;
  font-size: 14px;
  background: rgb(32, 32, 199);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
}
.container {
  position: relative;
  left: 30%;
  margin: 1rem;
}
.weather-app {
  border: 1px solid gray;
  border-radius: 5px;
  width: 12.5cm;
  margin-top: 0.5rem;
  height: 19.5rem;
}
.weather-app {
  background-image: url(../images/weather-image2.jpg);
}
.weather-details {
  position: relative;
  left: 1rem;
  top: 3rem;
}
.town-time-des {
  position: relative;
  bottom: 3rem;
  font-weight: 400;
  line-height: 2rem;
  color: hsl(0, 0%, 8%);
}
.town {
  letter-spacing: 1px;
  font-size: 20px;
}
.icon img {
  position: relative;

  margin: 0;
  bottom: 2rem;
  font-size: 300;
}
.temp {
  color: hsl(0, 0%, 8%);

  font-size: 25px;
}

.unit {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  top: -10px;
}
.prep {
  color: hsl(0, 0%, 8%);
  font-weight: 800;
  font-size: 12px;
  position: relative;
  left: 10rem;
  bottom: 2rem;
}

.list {
  position: relative;
  left: 16.5rem;
  bottom: 17rem;
  font-family: sans-serif;
  font-weight: 350;
  margin: 16px;
}

li {
  background-color: bisque;
  list-style: none;
  letter-spacing: 0.5px;
  word-spacing: 10px;
  transition: all 200ms ease-in-out;
  width: 11rem;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
li:hover {
  background: #fff;
}
.weather-forcast-temperature-min {
  font-size: 12px;
  opacity: 0.6;
}
ul {
  margin-bottom: 6px;
}
/*#row {
  background-color: bisque;
  list-style: none;
  letter-spacing: 0.5px;
  word-spacing: 10px;
  transition: all 200ms ease-in-out;
  width: 13rem;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}*/
a {
  text-decoration: none;
  color: rgba(8, 8, 231, 0.897);
}
footer {
  font-family: monospace;
  text-align: center;
  font-size: 13px;
}

.weather-details .active {
  color: rgba(13, 13, 14, 0.904);
  cursor: default;
}

@media (max-width: 700px) {
  h1 {
    position: relative;
    left: 25%;
  }
  footer {
    text-align: center;
    font-size: 13px;
  }
  form {
    position: relative;
    right: 5rem;
  }
  .container {
    font-size: 10px;
    margin: 0;
    padding: 0;

    flex-wrap: wrap;
  }

  .weather-app {
    position: relative;
    right: 6rem;
    width: 9cm;
    margin-top: 0.5rem;
    height: 19.5rem;
  }
  .prep {
    position: relative;
    left: 5rem;
    bottom: 2rem;
  }
  li {
    width: 8rem;
  }
  .list {
    position: relative;
    left: 11.5rem;
    bottom: 17rem;
  }
}
